@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Rock+Salt&display=swap');

head div {
    color: #D69191;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
body {
    font-family: "Habibi", serif;
    font-style: normal;

}
div {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 165px;
}