@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Rock+Salt&display=swap');

body {
    font-family: "Habibi", serif;
    font-style: normal;

}

img {
    max-width: 100%;

}

.UpperBanner {
    padding-top: 1rem;
    height: 50px;
    background: #931F1D;
    display: flex;
    justify-content: center;

    color: #D69191;
    font-family: "Myriad Pro";
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

div {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 165px;
}

.hero {
    display: flex;
}

.hero div {
    justify-content: left;
    padding-left: 30rem;
}

.hero h1 {
    width: 662px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Habibi;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero h2 {
    color: #E65902;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;

}

.hero img {
    border: 12px solid #B84803;
}

.Intro {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Intro h3 {
    font-size: 32px;
}

.Intro p {
    display: -webkit-box;
    width: 1642px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    color: #031926;
    text-overflow: ellipsis;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 118.75% */
}